<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{username}} | Admin - {{uiSectionName}}</title>

        {% block bootstrap %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% endblock %}

        {% block resources %}
        <link rel="stylesheet" type="text/css" href="/static/styles/admin_style.css">
        {% endblock %}
    </head>
    <body>
        {% block navBar %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary justify-content-between">
            <div>
                <a class="navbar-brand" href="{{url_for('adminHome')}}">FeedFeed</a>
                {% if showBackButton %}
                <a href="{{backLink}}" class="btn btn-outline-light">< Back</a>
                {%endif%}
            </div>

            <form method="post" action="/">
                <div class="generate">
                    <input class="btn btn-outline-light" type="submit" value="Log Out">
                </div>
            </form>
        </nav>
        {% endblock %}

        <main id="mainContent">
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>