{% extends "admin_base.html" %}

{% block resources %}
{{super()}}
<script src="/static/scripts/data_explorer_script.js"></script>
{% endblock %}

{% block main %}
<div class="container">
    {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                {{ message }}
            </div>
    {% endfor %}
    <h1 class="text-center py-3">Manage Ingredients</h1>
    <div class="row justify-content-end mb-2">
        <a class="btn btn-primary newItemButton" href="{{url_for('adminEditIngredient')}}?action=New">+ Add New</a>
    </div>
    <table id="data-table" class="table table-hover">
        <tbody>
            <tr class="tHead">
                <th><input type="checkbox"></th>
                <th>Name</th>
                <th>Calories/oz</th>
                <th>Protien/oz</th>
                <th>Carbs/oz</th>
                <th>Fat/oz</th>
                <th>Actions</th>
            </tr>

            {% for id, val in tableData.items() %}
            <tr class="tData">
                <td><input class="dataCheck" name="{{id}}" type="checkbox"></td>
                <td>{{val.name}}</td>
                <td>{{val.calories}}</td>
                <td>{{val.protein}}</td>
                <td>{{val.carbs}}</td>
                <td>{{val.fat}}</td>
                <td>
                    <a class="btn btn-primary" href="{{url_for('adminEditIngredient')}}?action=Edit&id={{id}}">Edit</a>
                    <button class="btn btn-secondary">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}