{%extends "login_signup_base.html"%}

{% block title %}
About You
{% endblock %}

{%block cssandjavascript%}
<link rel="stylesheet" href="/static/styles/login_signup.css">
<style>
    .container{
        height: 15em;
    }
    input[type=radio]{
        visibility: visible;
    }
</style>
{%endblock%}

{%block forms%}
<div class="row">
    <form id="goal-info-signup">
        <label for="weight-goal">Weight Goal</label>
        <div class="row">
            <div class="col">
                <input type="radio" id="cut-radio-button" name="weight-goal" value="cut">
                <label for="cut-radio-button">Cut</label><br>
            </div>
            <div class="col">
                <input type="radio" id="maintain-radio-button" name="weight-goal" value="maintain">
                <label for="maintain-radio-button">Maintain</label><br>
            </div>
            <div class="col">
                <input type="radio" id="bulk-radio-button" name="weight-goal" value="bulk">
                <label for="bulk-radio-button">Bulk</label><br>
            </div>
        </div>
        <div class="row">
            <label for="excercise-goal-box">Excercise Goal</label><br>
            <select class="form-control" id="excercise-goal-box">
                <option value=1.2>Sedentary</option>
                <option value=1.375>Lightly Active (1-3 times a week)</option>
                <option value=1.55>Moderatly Active (3-5 times a week)</option>
                <option value=1.725>Very Active (6-7 times a week)</option>
                <option value=1.9>Very Active (6-7 times a week) and work a physically demanding job</option>
            </select>
        </div>
    </form>
</div>
{%endblock%}