{%extends "login_signup_base.html"%}

{% block title %}
Login/Signup
{% endblock %}

{%block cssandjavascript%}
<link rel="stylesheet" href="/static/styles/login_signup.css">
<script src="/static/scripts/login_signup.js"></script>
<style>
    #login-signup-table{
        width: 100%;
    }
    
    #login-table-cell{
        width: 50%;
        text-align: center;
    }
    
    #signup-table-cell{
        width: 50%;
        text-align: center;
    }
    
    td:hover{
        background-color: lightgray;
    }

    .passwords{
        position: relative;
    }

    .passwords::before,
    .passwords::after{
        --scale: 0;
        --arrow-size: 10px;
        position: absolute;
        left: 100%;
        top: -.25rem;
        transform: translateX(var(--translate-x,0)) translateY(5%) scale(var(--scale));
        transition: 50ms transform;
        transform-origin: left center;
    }

    .passwords::before{
        --translate-x: calc(5% - var(--arrow-size));
        content: attr(data-tooltip);
        padding: 0.5rem;
        color:white;
        background: #333;
        border-radius: .3rem;
        width: max-content;
    }

    .passwords:hover::before,
    .passwords:hover::after{
        --scale: 1;
    }

    img{
        width: 20em;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -210%);
    }
</style>
{%endblock%}
{%block abovecontent%}
<img src="/static/images/feedfeedlogo.png" alt="Feed Feed Logo">
{%endblock%}
{%block forms%}
<div class="row">
    <table id="login-signup-table">
        <tr>
            <td id="signup-table-cell">
                <input type="radio" id="sign-up-radio" name="sign-up-or-log-in" value="sign-up" hidden>
                <label for="sign-up-radio" style="width: 100%;">Sign Up</label><br>
            </td>
            <td id="login-table-cell" style="border-bottom: 1px solid lightgray;">
                <input type="radio" id="log-in-radio" name="sign-up-or-log-in" value="log-in" checked hidden>
                <label for="log-in-radio" style="width: 100%;">Log In</label><br>
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <form id="login-form" style="display: block;" action="{{url_for('login_post')}}" method="POST">
        <input class="form-control" type="email" name="login-email" id="login-email" placeholder="Email" required>
        <div class="passwords"  data-tooltip="Passwords must be a minimum of length 8">
            <input class="form-control" type="password" name="login-password" id="login-password" placeholder="Password" minlength="8" required>
        </div>
        <input class="form-control" type="submit" name="login-button" value="Log In">
    </form>
    <form id="signup-form" style="display: none;" action="{{url_for('signup_post')}}" method="POST">
        <input class="form-control" type="email" name="signup-email" id="signup-email" placeholder="Email" required>
        <div class="passwords"  data-tooltip="Passwords must be a minimum of length 8">
            <input class="form-control" type="password" name="signup-password" id="signup-password" placeholder="Password" minlength="8" required>
        </div>
        <div class="passwords"  data-tooltip="Passwords must be a minimum of length 8">
            <input class="form-control" type="password" name="signup-confirm-password" id="signup-confirm-password" minlength="8" placeholder="Re-Enter Password" required>
        </div>
        <input id="signup-submit-button" class="form-control" type="submit" name="signup-button" value="Sign Up">
    </form>
</div>
{%endblock%}