<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block bootstrap%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {%endblock%}
    <link rel="stylesheet" href="/static/styles/login_signup.css">
    <script src="/static/scripts/login_signup.js"></script>

    <title>{%block title%}FeedFeed{%endblock%}</title>
</head>
<body>
    <div class="container center">
        <div class="row">
            <div class="col">
                <input type="radio" id="sign-up-radio" name="sign-up-or-log-in" value="sign-up">
                <label for="sign-up-radio">Sign Up</label><br>
            </div>
            <div class="col">
                <input type="radio" id="log-in-radio" name="sign-up-or-log-in" value="log-in" checked>
                <label for="log-in-radio">Log In</label><br>
            </div>
        </div>
        <div class="row">
            <form id="login-form" style="display: block;">
                <input class="form-control" type="email" name="login-email" placeholder="Email" required>
                <input class="form-control" type="password" name="login-password" placeholder="Password" required>
                <input class="form-control" type="submit" name="login-button" value="Log In">
            </form>
            <form id="signup-form" style="display: none;">
                <input class="form-control" type="email" name="signup-email" placeholder="Email" required>
                <input class="form-control" type="password" name="signup-password" placeholder="Password" required>
                <input class="form-control" type="password" name="signup-confirm-password" placeholder="Re-Enter Password" required>
                <input class="form-control" type="submit" name="signup-button" value="Sign Up">
            </form>
        </div>
    </div>
</body>
</html>