{% extends "user_base.html" %}
{% block title %}
<title> Goals </title>
{% endblock %}

{% block main %}
<div id="goals">
    <div id="personal_info" class="container">
        <div class="row">
            <div class="col-lg">
                <h2> Personal Information </h2>
                <h4> Name: </h4>
                <h4> Age: </h4>
                <h4> Height: </h4>
                <input type="text" id="height" name="height">
                <h4> Current Weight: </h4>
                <input type="text" id="weight" name="weight">
            </div>
            <div class="col-lg">
                <h2> Fitness Goals </h2> 
                <h4> Weight Goal: </h4>
                <div class="form-group">
                    <input type="checkbox" name="cut" id="f-cut" />
                    <label for="f-owner-read">Cut</label>
                    <input type="checkbox" name="maintain" id="f-maintain" />
                    <label for="f-owner-write">Maintain</label>
                    <input type="checkbox" name="bulk" id="f-bulk"/>
                    <label for="f-owner-execute">Bulk</label>
                </div>
                <h4> Exercise Goal </h4>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User Exercise Goal
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Sedentary</a>
                      <a class="dropdown-item" href="#">Mild Exercise</a>
                      <a class="dropdown-item" href="#">Athlete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="button_menu" class="container-fluid">
        <button type="button" class="btn btn-primary btn-lg">Change Username</button>
        <button type="button" class="btn btn-primary btn-lg">Change Password</button>
        <button type="button" class="btn btn-primary btn-lg">Save Changes</button>
    </div>
</div>
{% endblock %}