{% extends "user_base.html" %}
{% block title %}
<title> Welcome to FeedFeed </title>
{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/static/styles/home_style.css">
{% endblock %}

{% block main %}
<table>
    <tr>
        <td> <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/19/13/5/AKvKcJgQWqe5WpAZ4bTu_chicken-parmesan-5.jpg"> </td>
        <td>
            <h2> Chicken Parmesean </h2>
            <h2> Description: </h2>
            <p> I mean, it's just chicken parm... </p>
            <h2> Ingredients: </h2>
            <p> Here they are </p> 
        </td>
    </tr>
    <tr>
        <td> <img src="https://www.nestle-cereals.com/global/sites/g/files/qirczx356/f/styles/scale_992/public/stage_visual/images_16_0.jpg?itok=xCGZ109R"> </td>
        <td>
            <h2> Cheerios </h2>
            <h2> Description: </h2>
            <p> I mean, it's just cheerios... </p>
            <h2> Ingredients: </h2>
            <p> Here they are </p> 
        </td>
    </tr>
    <tr>
        <td> <img src="https://www.thespruceeats.com/thmb/hl4lkmdLO7tj1eDCsGbakfk97Co=/3088x2055/filters:fill(auto,1)/marinated-top-round-steak-3060302-hero-02-ed071d5d7e584bea82857112aa734a94.jpg"> </td>
        <td>
            <h2> Steak </h2>
            <h2> Description: </h2>
            <p> I mean, it's just steak... </p>
            <h2> Ingredients: </h2>
            <p> Here they are </p> 
        </td>
    </tr>
</table>
{% endblock %}
