{% extends "user_base.html" %}
{% block title %}
<title> Welcome to FeedFeed </title>
{% endblock %}
{% block main %}
<table>
    <tr>
        <td> <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/19/13/5/AKvKcJgQWqe5WpAZ4bTu_chicken-parmesan-5.jpg"> </td>
        <td>
            <h2> Chicken Parmesean </h2>
            <h2> Description: </h2>
            <p> I mean, it's just chicken parm... </p>
            <h2> Ingredients: </h2>
            <p> Here they are </p> 
        </td>
    </tr>
    <tr>
        <td> <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/19/13/5/AKvKcJgQWqe5WpAZ4bTu_chicken-parmesan-5.jpg"> </td>
        <td>
            <h2> Chicken Parmesean </h2>
            <h2> Description: </h2>
            <p> I mean, it's just chicken parm... </p>
            <h2> Ingredients: </h2>
            <p> Here they are </p> 
        </td>
    </tr>
    <tr>
        <td> <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/19/13/5/AKvKcJgQWqe5WpAZ4bTu_chicken-parmesan-5.jpg"> </td>
        <td>
            <h2> Chicken Parmesean </h2>
            <h2> Description: </h2>
            <p> I mean, it's just chicken parm... </p>
            <h2> Ingredients: </h2>
            <p> Here they are </p> 
        </td>
    </tr>
</table>
{% endblock %}
