{% extends "user_base.html" %}
{% block title %}
<title> Welcome to FeedFeed </title>
{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/static/styles/home_style.css">
{% endblock %}

{% block main %}
<table class="table">
    <tbody>
        {%for entry in rows%}
        <tr>
            <td class="meal-image"> <img src={{entry[2]}}> </td>
            <td>
                <h2> {{entry[0]}} </h2>
                <h3> Description: </h2>
                <p> {{entry[3]}} </p>
                <p> This meal serves {{entry[4]}} and has {{entry[5]}} calories per serving. </p>
                <h3> Ingredients: </h3>
                <ul>
                    {%for row in mealIngs%}
                    {%if row[0] == entry[1]%}
                    <li>{{row[9]}}</li>
                    {%endif%}
                    {%endfor%}                    
                </ul>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}
