{% extends "user_base.html" %}
{% block title %}
<title> Pantry </title>
{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/static/styles/daily_plan_style.css">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg" id="search">
              <h2> Favorite Meals </h2>
        </div>
        <div class="col-lg" id="search">
            <h2> My Plan </h2>
            <div class="generate">
                <button type="button" class="btn btn-primary btn-lg">Generate Daily Plan</button>
            </div>
      </div>
    </div>
</div>
{% endblock %}
