{% extends "user_base.html" %}
{% block title %}
<title> Pantry </title>
{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/static/styles/pantry_style.css">
<script src="/static/scripts/my_pantry.js"></script>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg" id="search">
            <h2> Search Ingredients </h2>
            <div class="search-bar">
                <input type="text" id="search_text" placeholder="Search Ingredients">
                <button type="submit" id="search">Submit</button>
            </div>
            <div class="tabletoscroll">
                <table id="table">
                    {%for entry in rows%}
                    <tr value="{{entry[6]}}">
                        <td> <input class="check" type="checkbox" name="ing" id="f-add-ingredient" value="{{entry[6]}}" /> </td>
                        <td class="ingName"> <h3> {{entry[6]}} </h3> </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
        <div class="col-lg" id="my_ingredients">
            <h2> My Ingredients </h2>
            <ul id="ingList">
                {%for ingredient in ingredients%}
                <li> {{ingredient[0]}} </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="buttons">
        <button type="button" id="addSelected" class="btn btn-primary btn-lg">Add Selected Ingredients</button>
        <button type="button" id="submit-button" class="btn btn-primary btn-lg"> Save My Ingredients </button>
    </div>
</div>
{% endblock %}
