{% extends "user_base.html" %}
{% block title %}
<title> Pantry </title>
{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/static/styles/pantry_style.css">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg" id="search">
            <h2> Search Ingredients </h2>
            <div class="search-bar">
                <input type="text" placeholder="Search Ingredients">
                <button type="submit">Submit</button>
            </div>
            <table>
                <tr>
                    <td> <input type="checkbox" name="cut" id="f-add-ingredient" /> </td>
                    <td> <h3> Ingredient 1 </h3> </td>
                </tr>
                <tr>
                    <td> <input type="checkbox" name="cut" id="f-add-ingredient" /> </td>
                    <td> <h3> Ingredient 2 </h3> </td>
                </tr>
                <tr>
                    <td> <input type="checkbox" name="cut" id="f-add-ingredient" /> </td>
                    <td> <h3> Ingredient 3 </h3> </td>
                </tr>
                <tr>
                    <td> <input type="checkbox" name="cut" id="f-add-ingredient" /> </td>
                    <td> <h3> Ingredient 4 </h3> </td>
                </tr>
            </table>
            <div class="buttons">
                <button type="button" class="btn btn-primary btn-lg">Add Selected Ingredients</button>
            </div>
        </div>
        <div class="col-lg" id="my_ingredients">
            <h2> My Ingredients </h2>
            <p> This is where the user's ingredients will show up when the add them </p>
        </div>
    </div>
</div>
{% endblock %}
