{% extends "user_base.html" %}
{% block title %}
<title> Pantry </title>
{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/static/styles/daily_plan_style.css">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg" id="search">
            <h2> Favorite Meals </h2>
            <table class="favorite-table">
                <tbody>
                    {%for value in favMeals%}
                    <tr>
                        <td> <img src={{value[4]}}> </td>
                        <td>
                            <h3>{{value[2]}}</h3>
                            <h5>Description:</h5>
                            <p>{{value[5]}}</p>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table> 
        </div>
        <div class="col-lg" id="search">
            <h2> My Plan </h2>
            <table class="table">
                <tbody>
                    {%for entry in userOptions%}
                    <tr>
                        <td class="meal-image"> <img src={{entry[1]}}> </td>
                        <td>
                            <h3> {{entry[0]}} </h3>
                            <h5> Description: </h5>
                            <p> {{entry[2]}} </p>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <form method="post" action="/dailyplan/">
        <div class="generate">
            <input class="btn btn-primary btn-large" type="submit" value="Generate Daily Plan">
        </div>
    </form>
</div>
{% endblock %}
