body {
    background-color: lightgray;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2%;
}

.col-lg {
    background-color: lightblue;
    margin: 1% 1.5% 1% 1.5%;
    padding: 3%;
    outline-style: solid;
    outline-color: gray;
}

.generate {
    text-align: center;
}

tr {
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: lightblue;
    margin: 1% 0% 1% 0%;
}

table {
    width: 100%;
}

img {
    width: 300px;
    height: 175px;
    padding: 1%;
}

.meal-image {
    width: 300px;
}

td h2 {
    text-align: center;
    text-decoration: underline;
}