body {
    background-color: lightgray;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.col-lg {
    background-color: lightblue;
    margin: 1% 1.5% 1% 1.5%;
    padding: 3%;
    outline-style: solid;
    outline-color: gray;
}

#buttons {
    text-align: center;
}

#buttons button {
    margin: 2%;
}

.height-input {
    display: flex;
    flex-direction: row;
}