.flex-container {
    display: flex;
    flex-direction: row;
}

.container-fluid {
    margin: 3%;
}

.row div {
    background-color: lightblue;
    margin: 1% 1.5% 1% 1.5%;
    padding: 3%;
}

#button_menu {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#button_menu button {
    margin: 1% 5% 1% 5%;
}

#search {
    background-color: lightblue;
    padding: 1%;
    text-align: center;
}

#my_ingredients {
    background-color: lightblue;
    padding: 1%;
    text-align: center;
}

tr {
    border-style: solid;
    border-color: black;
    border-width: thick;
    background-color: lightgray;
    margin: 1% 0% 1% 0%;
}

table {
    width: 100%;
}

img {
    width: 555px;
    height: 370px;
}
